@{
    ViewData["Title"] = "Home Page";
}


<a class="btn btn-danger" asp-action="Index" asp-route-p="ErrorNotify">Hata</a>
<a class="btn btn-warning" asp-action="Index" asp-route-p="WarningNotify">Uyarı</a>
<a class="btn btn-info" asp-action="Index" asp-route-p="InfoNotify">Bilgilendirme</a>
<a class="btn btn-success" asp-action="Index" asp-route-p="SuccessNotify">Başarılı</a>